<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socket.io - Broadcasting</title>
</head>

<body>
  <p id="msg">

  </p>
  <div id="noti">

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // var socket = io() : Mac dinh

    /*     socket.on('new msg', function (data) {
          console.log(data);
          $('#msg').text(data.msg)
        })
        socket.on('new noti', function (data) {
          //console.log(data)
          $('#noti').append(data.msg + '<br>')
        }) */

    var socket = io('/freetuts') /* : Tuy chinh */
    socket.on('hi', function (data) {
      console.log("freetuts: ",data);
      /* 
      $('#msg').text(data.msg) */
    })
  </script>
</body>

</html>